## Using Barber folder for now

In [3]:
import pandas as pd
import numpy as np

provResR1 = pd.read_csv('../dataset/barber/03_Provisional Results_Race 1_Anonymized.CSV',sep=";")
provResR2 = pd.read_csv('../dataset/barber/03_Provisional Results_Race 2_Anonymized.CSV', sep=";")
offResR2 = pd.read_csv('../dataset/barber/03_Results GR Cup Race 2 Official_Anonymized.CSV', sep=";")

In [8]:
print(provResR1.shape)
print(provResR2.shape)
print(offResR2.shape)

(22, 28)
(22, 28)
(22, 28)

In [5]:
print(provResR1.columns)
print(provResR2.columns)
print(offResR2.columns)
print(len(provResR1.columns))
print(len(provResR2.columns))
print(len(offResR2.columns))

Index(['POSITION', 'NUMBER', 'STATUS', 'LAPS', 'TOTAL_TIME', 'GAP_FIRST',
       'GAP_PREVIOUS', 'FL_LAPNUM', 'FL_TIME', 'FL_KPH', 'CLASS', 'GROUP',
       'DIVISION', 'VEHICLE', 'TIRES', 'ECM Participant Id', 'ECM Team Id',
       'ECM Category Id', 'ECM Car Id', 'ECM Brand Id', 'ECM Country Id',
       '*Extra 7', '*Extra 8', '*Extra 9', 'Sort Key', 'DRIVER_*Extra 3',
       'DRIVER_*Extra 4', 'DRIVER_*Extra 5'],
      dtype='object')
Index(['POSITION', 'NUMBER', 'STATUS', 'LAPS', 'TOTAL_TIME', 'GAP_FIRST',
       'GAP_PREVIOUS', 'FL_LAPNUM', 'FL_TIME', 'FL_KPH', 'CLASS', 'GROUP',
       'DIVISION', 'VEHICLE', 'TIRES', 'ECM Participant Id', 'ECM Team Id',
       'ECM Category Id', 'ECM Car Id', 'ECM Brand Id', 'ECM Country Id',
       '*Extra 7', '*Extra 8', '*Extra 9', 'Sort Key', 'DRIVER_*Extra 3',
       'DRIVER_*Extra 4', 'DRIVER_*Extra 5'],
      dtype='object')
Index(['POSITION', 'NUMBER', 'STATUS', 'LAPS', 'TOTAL_TIME', 'GAP_FIRST',
       'GAP_PREVIOUS', 'FL_LAPNUM', 'FL_TIME', 'FL_KPH', 'CLASS', 'GROUP',
       'DIVISION', 'VEHICLE', 'TIRES', 'ECM Participant Id', 'ECM Team Id',
       'ECM Category Id', 'ECM Car Id', 'ECM Brand Id', 'ECM Country Id',
       '*Extra 7', '*Extra 8', '*Extra 9', 'Sort Key', 'DRIVER_*Extra 3',
       'DRIVER_*Extra 4', 'DRIVER_*Extra 5'],
      dtype='object')
28
28
28

In [7]:
# Show only columns with NaN values
print("provResR1 - Columns with NaN:")
print(provResR1.isna().sum()[provResR1.isna().sum() > 0])
print("\n" + "="*50 + "\n")

print("provResR2 - Columns with NaN:")
print(provResR2.isna().sum()[provResR2.isna().sum() > 0])
print("\n" + "="*50 + "\n")

print("offResR2 - Columns with NaN:")
print(offResR2.isna().sum()[offResR2.isna().sum() > 0])

provResR1 - Columns with NaN:
GROUP                 22
TIRES                 22
ECM Participant Id    22
ECM Team Id           22
ECM Category Id       22
ECM Car Id            22
ECM Brand Id          22
ECM Country Id        22
*Extra 7              22
*Extra 8              22
*Extra 9              22
Sort Key              22
DRIVER_*Extra 3       22
DRIVER_*Extra 4       22
DRIVER_*Extra 5       22
dtype: int64

==================================================

provResR2 - Columns with NaN:
GROUP                 22
TIRES                 22
ECM Participant Id    22
ECM Team Id           22
ECM Category Id       22
ECM Car Id            22
ECM Brand Id          22
ECM Country Id        22
*Extra 7              22
*Extra 8              22
*Extra 9              22
Sort Key              22
DRIVER_*Extra 3       22
DRIVER_*Extra 4       22
DRIVER_*Extra 5       22
dtype: int64

==================================================

offResR2 - Columns with NaN:
GROUP                 22
TIRES                 22
ECM Participant Id    22
ECM Team Id           22
ECM Category Id       22
ECM Car Id            22
ECM Brand Id          22
ECM Country Id        22
*Extra 7              22
*Extra 8              22
*Extra 9              22
Sort Key              22
DRIVER_*Extra 3       22
DRIVER_*Extra 4       22
DRIVER_*Extra 5       22
dtype: int64

#### Inference from the above NaN values, can drop these columns without losing any info